*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 20vh;
}

#botton{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 70vh;
}

button{
    
}